logs
project/project
project/target
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt
target
tmp
.history
dist
/bin
/.cache
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.sbtserver
/eclipse.bat
/run.bat